body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: bisque;
    color: #333;
}

header, footer {
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
    padding: 10px;
    background-color:#9897A9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-right: 10px;
}

button {
    margin-left: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

footer {
    margin-top: 20px;
}
